.centerHorizontal{
  text-align: center;
}

.glow {
  text-shadow: 0 0 2em #fff;
}

.page {
  color: #ffffff;
  padding: 2% 10% 2% 10%;
  font-size: 110%;
}

#App {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #ABDFE6;
}