.basicInfoArea {
    text-align: center;
}

.center{
    margin: 0;
    width: 100%;
}

.header {
    color: #ffffff;
}

.navBar {
    margin: auto;
    text-align: center;
    width: 50%;
}

.pageButton {
    background-color: Transparent;
    border: none;
    width: 25%;
    font-size: 150%;
    border-bottom: solid #ffffff;
    color: #ffffff;
    float: left;
    cursor: pointer;
}

.main {
}

/* color: #c4dfe6; */
.content {
    color: #ffffff;
    padding: 2% 10% 2% 10%;
    font-size: 110%;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(to bottom, #66a5ad 0%, #07575b 50%, #003b46 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.glow {
    text-shadow: 0 0 2em #fff;
}

.featherEdges {
    -moz-box-shadow: 0 0 1em rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1em rgba(0,0,0,.5);
    box-shadow: 0 0 1em rgba(0,0,0,.5);
}

ul {
    padding: 0;
    list-style-type: none;
}

.post {
    width: 100%;
    display: table;
    border: 0.25em solid white;
    padding-left: 1em;
    background-color: rgba(0,0,0,.1);
    margin-bottom: 1em;
}

.post:hover {
    background-color: rgba(0,0,0,.2);
    cursor: pointer;
}

.overlay {
    position: relative;
    display: block;
    z-index: 2;
    color: white;
}

.darkBackground {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.75);
    z-index: -1;
}

a {
    color: #c4dfe6;
}